In [1]:
import sqlite3
# Kết nối đến database (hoặc tạo mới nếu chưa có)
conn = sqlite3.connect("nhanvien.db")
cursor = conn.cursor()

In [2]:
#Câu 1: tạo bảng nhân viên

cursor.execute("""
CREATE TABLE IF NOT EXISTS NhanVien (
    MaNV INTEGER PRIMARY KEY,
    HoTen TEXT,
    Tuoi INTEGER,
    PhongBan TEXT
)
""")

In [3]:
#Câu 2: chèn bảng ghi
data = [
    (1, 'Nguyen Van A', 30, 'Ke Toan'),
    (2, 'Tran Thi B', 25, 'Nhan Su'),
    (3, 'Le Van C', 28, 'IT'),
    (4, 'Pham Thi D', 32, 'Ke Toan'),
    (5, 'Vu Van E', 26, 'IT'),
    (6, 'Nguyen Thi F', 29, 'Marketing'),
    (7, 'Le Thi G', 27, 'Nhan Su'),
    (8, 'Hoang Van H', 35, 'Ke Toan'),
    (9, 'Pham Van I', 33, 'Marketing'),
    (10, 'Tran Van J', 24, 'IT'),
    (11, 'Dang Thi K', 31, 'Nhan Su'),
    (12, 'Nguyen Van L', 28, 'Ke Toan'),
    (13, 'Tran Thi M', 26, 'Marketing'),
    (14, 'Pham Van N', 30, 'Nhan Su'),
    (15, 'Hoang Thi O', 27, 'IT')
]

# Chèn dữ liệu
cursor.executemany("INSERT INTO NhanVien VALUES (?, ?, ?, ?)", data)

# Lưu thay đổi và đóng kết nối
conn.commit()
conn.close()

print("Đã tạo bảng và chèn dữ liệu thành công!")

Đã tạo bảng và chèn dữ liệu thành công!

In [18]:
#Câu 3: lấy toàn bộ thông tin trong bảng NhanVien
# Kết nối đến database
conn = sqlite3.connect("nhanvien.db")
cursor = conn.cursor()
cursor.execute("SELECT * FROM NhanVien")
rows = cursor.fetchall()
# In dữ liệu
for row in rows:
    print(row)

(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'Marketing')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

In [9]:
#Câu 4: truy vấn HoTen và Tuoi của các nhân viên trong phòng IT
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan= 'IT' ")
rows1 = cursor.fetchall()
# In dữ liệu
for row in rows1:
    print(row)

('Le Van C', 28)
('Vu Van E', 26)
('Tran Van J', 24)
('Hoang Thi O', 27)

In [14]:
#Câu 5: tìm nhân viên có độ tuổi lớn hơn 25
cursor.execute("SELECT * FROM NhanVien WHERE Tuoi > 25")
rows2 = cursor.fetchall()
# In dữ liệu
for row in rows2:
    print(row)

(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'Marketing')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

In [13]:
#Câu 6: cho biết nv lớn tuổi nhất của các PhongBan
cursor.execute("""
    SELECT HoTen, Tuoi, PhongBan 
    FROM NhanVien 
    WHERE Tuoi IN (
        SELECT MAX(Tuoi) 
        FROM NhanVien 
        GROUP BY PhongBan
    )
""")
rows3 = cursor.fetchall()
# In dữ liệu
for row in rows3:
    print(row)

('Le Thi G', 27, 'Nhan Su')
('Hoang Van H', 35, 'Ke Toan')
('Pham Van I', 33, 'Marketing')
('Dang Thi K', 31, 'Nhan Su')
('Hoang Thi O', 27, 'IT')

In [16]:
#Câu 7: chuyển đổi thông tin
cursor.execute("UPDATE NhanVien SET PhongBan='Marketing' WHERE HoTen='Le Van C'")
#Lưu thay đổi
conn.commit()
# Vấn đề có thể gặp phải: 
# Nếu có nhiều người tên Le Van C thì tất cả đều sẽ được đổi phòng ban sang Marketing
# Nếu không có ai tên Le Van C thì câu lệnh vô hiệu
# Cách khắc phục: thay vì dùng tên thì có thể thực hiện thay đổi theo mã nv sẽ chính xác hơn

In [28]:
#Câu 8: Xóa nv
cursor.execute("DELETE FROM NhanVien WHERE MaNV='2' ")
conn.commit()
# Đếm số người ở mỗi phòng ban
cursor.execute("SELECT PhongBan, COUNT(*) FROM NhanVien GROUP BY PhongBan")
rows4 = cursor.fetchall()
# In dữ liệu
for row in rows4:
    print(f"Phòng ban: {row[0]} - Số lượng nhân viên: {row[1]}")

Phòng ban: IT - Số lượng nhân viên: 3
Phòng ban: Ke Toan - Số lượng nhân viên: 4
Phòng ban: Marketing - Số lượng nhân viên: 4
Phòng ban: Nhan Su - Số lượng nhân viên: 3